body{
    background-color: rgb(185, 232, 251);
    
}
p{
    text-align: center;
    font-weight: bold;
    border-style: dotted;
    border-width: 3px;
    border-color: #a70455;
    border-radius: 10px;
    padding: 10px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {background-color: #4CAF50;}
h1{
    border: 3px solid hotpink;
    background-color: lavenderblush;
}
h3.hw{
    color: rgb(121, 11, 190);
    background-color: bisque;
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    padding: 10px;
}
.nm p{
    color: blueviolet;
}